**/__pycache__
database/db.py
explorer/trash/*
learner/var/explorer/*
learner/var/rl/explore_states/*
learner/var/rl/q-table/*
learner/var/rl/training/*
learner/var/rl/q-table/*
learner/log/*
learner/var/trash/*
database/db.py
database/knowlege_base_command.db
stupidPot.cfg
ternimal/keys/*
trainBot/trainset/*